<%layout ('common/layout') -%>
<link rel="stylesheet" href="./output/css/index.css">
<h1 class="latest-title"><span>文章</span>列表</h1>
<div class="art-list-box j-art-list-box">
	<% include common/artList.ejs %>
</div>
<p class="list-link"><a href="/articlelist">去博客中心查看</a></p>
