<%layout ('common/layout') -%>
<link rel="stylesheet" href="css/index.css">
<div class="art-list">
	<h1>程序猿请放下你的技术情结</h1>
	<div class="art-content">
		如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...
	</div>	
	<p class="more-link"><a href="">查看全文 ></a></p>
	<p class="detail-text">
		<span>发布时间：2017-01-01</span>
		<span>作者：白开水</span>
	</p>
</div>
<div class="art-list">
	<h1>程序猿请放下你的技术情结</h1>
	<div class="art-content">
		如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...
	</div>	
	<p class="more-link"><a href="">查看全文 ></a></p>
	<p class="detail-text">
		<span>发布时间：2017-01-01</span>
		<span>作者：白开水</span>
	</p>
</div>
<div class="page-grid">
	<span>首页</span>
	<span>上一页</span>
	<span>1</span>
	<span>2</span>
	<span>下一页</span>
	<span>尾页</span>
</div>
