<%layout ('common/layout') -%>
<link rel="stylesheet" href="./output/css/article.css">
<form action="" class="pub-form" id="pub-form">
	<label for="">请填写您的标题：</label>
	<input type="text" name="title">
	<label for="">请填写您的文章内容：</label>
	<textarea name="content" id="" cols="30" rows="10"></textarea>
	<div class="publish-btn">
		<span class="j-pub-submit">发表文章</span>
	</div>
</form>