.dialog-box {
  display: none;
  background: #fff;
  width: 400px;
  height: 185px;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -200px;
  z-index: 99;
  padding-top: 15px;
}
.dialog-box p {
  padding-left: 20px;
  margin: 10px 0px;
}
.dialog-box .label-name {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.dialog-box input {
  line-height: 28px;
  width: 205px;
  padding: 0px 5px;
}
.dialog-box .close-btn {
  display: inline-block;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  color: #999;
}
.tc-login-btn-block {
  text-align: right;
  padding-right: 20px;
  margin-top: 30px;
}
.tc-login-btn-block span {
  cursor: pointer;
  display: inline-block;
  padding: 0px 20px;
  line-height: 28px;
  background: #ccc;
  border-radius: 3px;
  margin-left: 10px;
}
.tc-login-btn-block .login-submit {
  background: #073082;
  color: #fff;
}
.mask-box {
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
