<div class="time-block">
	<p class="data-info">2017年01月01日</p>
	<p class="timer-block">
		<span>14</span>
		<span>25</span>
		<span>36</span>
	</p>
</div>
<div class="friend-link">
	<h1>友情链接</h1>
	<ul>
		<li><a href="">百度一下</a></li>
		<li><a href="">百度一下</a></li>
	</ul>
</div>