<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>document</title>
	<link rel="stylesheet" href="./output/css/common.css">
</head>
<body>
	<% include header.ejs %>
	<%if(hasAd == 1){%>
		<div class="ad-grid"></div>
		<% include product.ejs %>
	<%}%>
	<div class="c-grid clear">
		<div class="fl content-grid">
			<%-body -%>
		</div>
		<div class="fr aside-grid">
			<% include aside.ejs %>
		</div>
	</div>
	<% include footer.ejs %>
	<div class="dialog-out-grid"></div>
	<script src="scripts/jquery.js"></script>
	<script src="scripts/seajs/sea.js" id="seajsnode"></script>
	<script src="scripts/seajs/seajs-text.js"></script>
	<script src="scripts/seajs/seajs-css.js"></script>
	<script src="js/baidutemplate.js"></script>
	<script>
		seajs.config({
		  base: "./js",
		  alias: {
		    // "jquery": "./scripts/jquery.js",
		    // 'a': 'path/to/a.js'
		  },
		  // preload: ['plugin-text']
		})
	</script>
	<script src="js/common.js"></script>
	<script src="js/article.js"></script>

</body>
</html>