<div class="page-grid j-page-grid">
	<div class="page-grid-in">
		<a class="j-first-page" href="javascript:;">首页</a>
		<a class="j-prev-page no-handle" href="javascript:;">«</a>
		<%for(var i = 0;i < Math.ceil(artList.length/pageSize); i++){%>
			<span class="<%if(i==0){%>cur<%}%>"><%- (i+1)%></span>
		<%}%>
		<a class="more-page j-more-page" href="javascript:;">⋯</a>
		<a class="j-next-page" href="javascript:;">»</a>
		<a class="last-page j-last-page" href="javascript:;" data-max="<%=Math.ceil(artList.length/pageSize)%>">尾页</a>
	</div>
</div>