body {
  font: 14px "Microsoft YaHei", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
.c-grid {
  width: 1000px;
  margin: 0 auto;
}
.hd-block {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
}
.hd-block a {
  display: block;
}
.logo-block {
  margin-top: 20px;
}
.hd-menu {
  margin-top: 40px;
}
.hd-menu a {
  display: inline-block;
  margin: 0px 20px;
}
.hd-menu a.cur {
  font-size: 16px;
  font-weight: bold;
  color: #073082;
}
.ad-grid {
  width: 100%;
  height: 270px;
  background: url(../../img/body_bg.jpg) center top no-repeat #031859;
}
.pro-list {
  background: #f5f5f5;
  padding: 10px 0px;
}
.p-l-title {
  border-bottom: 1px solid #464646;
  line-height: 45px;
}
.p-l-title span {
  background: #464646;
  display: inline-block;
  padding: 0px 20px;
  color: #fff;
  font-size: 18px;
}
.p-l-block {
  text-align: left;
  width: 1000px;
  margin: 20px auto;
}
.p-l-block li {
  display: inline-block;
  border: 1px solid #cdcbc9;
  background: #fff;
  margin-right: 62px;
}
.p-l-block li.last-li {
  margin-right: 0px;
}
.p-l-block a {
  display: block;
  padding: 4px;
}
.p-l-block img {
  display: block;
  width: 190px;
  height: 90px;
}
.content-grid {
  width: 780px;
}
.aside-grid {
  width: 200px;
}
.time-block {
  text-align: center;
}
.data-info {
  font-size: 16px;
  line-height: 30px;
}
.timer-block {
  margin: 10px 0px;
}
.timer-block span {
  display: inline-block;
  font-size: 36px;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0px 5px;
  background: #333;
  border-radius: 5px;
}
.friend-link {
  border: 1px solid #ededed;
}
.friend-link h1 {
  margin: 0px;
  line-height: 25px;
  background: #5883cb;
  font-size: 14px;
  color: #fff;
  text-align: left;
  padding: 0px 5px;
}
.friend-link ul {
  padding: 10px 5px;
}
.friend-link ul li {
  line-height: 22px;
}
.login-register-block {
  color: #999;
}
.login-register-block a {
  margin: 0px 5px;
  color: #ed7f13;
}
.dialog-out-grid {
  display: none;
  background: #fff;
  width: 400px;
  height: 200px;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -200px;
  z-index: 99;
}
.footer {
  border-top: 1px solid #f1f1f1;
  margin: 50px 0px 20px;
  padding-top: 20px;
  text-align: center;
}
.footer p {
  font-size: 12px;
  color: #999;
}
.loading-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../../img/loading.gif) no-repeat center #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 99;
}
